.TodoList {
  margin: 4rem auto;
  padding: 2rem 3rem 4rem;
  max-width: 500px;
  background: #ff6666;
  color: #fff;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}

.TodoList ul {
  list-style: none;
  margin-top: 2.6rem;
}

.TodoList h1 {
  font-weight: normal;
  font-size: 2.6 rem;
  letter-spacing: 0.05rem;
}

.TodoList p {
  font-size: 0.8 rem;
  margin-bottom: 0.7rem;
}
